@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');


.spinner-border{
    position: absolute;
    top: 50%;
}

.hide_loader{
    display: none;
}

#name{
    font-family:'Cabin Sketch', cursive;
    font-size: 4rem;
    color: white;
    margin-left: 0.5rem;
}

#top{
    background-color: #BB2100;
    display: none;
    height: 10%;
}